
<div class="container">
    <div class="row">
      <div class="col-lg-7">
        <div class="text-center">
          <img src="../public/img/KhangLM.png" alt="" >
        </div>

        <form ng-submit="login()">
            <div class="mb-3">
              <label for="email" class="form-label">Email</label>
              <input type="email" class="form-control" id="email" ng-model="email" required>
            
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">Mật khẩu</label>
              <input type="password" class="form-control" id="password" ng-model="password">
            </div>
         
              <button type="submit" class="btn btn-info mb-4">Đăng nhập</button>

            <div ng-show="isError" class="alert alert-danger mt-4">
                Đăng nhập thất bại 
            </div>
          </form>
        </div>
        <div class="col-lg-5">
          <div class="">
            <img src="../public/img/bg.jpg" style="border-radius:20px ;">
          </div>

        </div>
    </div>
</div>